<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/admin-section.css" />
	<script type="text/javascript" src="js/jq-1.8.3.js"></script>

	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
</head>
<body>

	<section id="content" class="content"> 
		<section id="header">
			<p>Godmode engaged, <a href='/profile'>{{current_user.full_name}}</a></p> <br/>
		{% include "/templates/mbar.html" %}
		{% include "/templates/admin-sidebar.html"%}
		
		<section id="pagecontent" class="cleared">
			
		<div id="horizontal-menu">
			<div id="horizontal-menu-item">
				<span><a href="/admin-users">Edit an existing user</a></span>
			</div>
			<div id="horizontal-menu-item">
				<span><a href="/admin-user-creation">Add a new user</a></span>
			</div>
			<div id="horizontal-menu-search">
				<form name="search" action="/admin-users">
					<label for="filter-username">Filter usernames:</label>
					<input type="text" name="filter-username" value="" id="filter"  size=50>
					<input type="submit" name="filter-button" id="filter-button" value="Filter" >
				</form>
			</div>
		</div>
			{%for user in users%}
			<div class="user"><a href="/admin-edit-user?user={{user.key().name()}}">{{user.full_name}} ({{user.key().name()}})</a></div>
			{%endfor%}
		</section>
		<div style="margin:10px;float:left">{{message}}</div>
	</section>
</body>
</html>
