<ul id='sidebar' class="creared">        
	<a href="/admin-modules"><li class="first"><span>Edit Modules</span></li></a>
	<a href="/admin-assessment"><li ><span>Edit Assessments</span></li></a>
	<a href="/admin-users"><li class="last"><span>Edit Users</span></li></a>
	<a href="/main"><li class="first" ><span>Home</span></li></a>
	<a href="/forum"><li><span>Forum</span></li></a>
	<a href="/about"><li><span>About</span></li></a>
	<a href="/search"><li><span>Search</span></li></a>
	<a href="/modules"><li><span>Modules</span></li></a>
	<a href="https://secure.ecs.soton.ac.uk/" target="_blank"><li><span>Intranet</span></li></a>
	<a href="/contact" ><li class="last"><span>Contact</span></li></a>
	<form name="input" action="/results" method="get">
		    <label for="search_terms" style="display:block;">Search terms:</label>
		    <input id="searchbox"type="text" name="search_terms"  >
		    <input id="searchbutton"type="submit" value="Search" >
	</form>
</ul>


