<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/admin-section.css" />
	<script src="js/jq-1.8.3.js"></script>
	<script src="js/jqui-1.9.2.js"></script>
	<script type="text/javascript" src="js/admin-section-accordion.js"></script>

	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
</head>
<body>

	<section id="content" class="content"> 
		{% include "/templates/mbar.html" %}
		{% include "/templates/admin-sidebar.html"%}
		<section id="pagecontent" class="cleared">			
			<div id="admin-left-column">
				{% for cwk in firsthalf %}			
				<section class="admin-container">
					<p class="admin-handler"  id="{{cwk.key()}}">{{ cwk.title }}</p>
					<section class="admin-handlercontent" id="cont{{cwk.key()}}">
						<form name="edit_assessment" action="/admin-assessment" method="post">
							<label for="cwk_key">Datastore Entity Key:</label>
							<input type="text" name="cwk_key" id="cwk_key" value="{{cwk.key()}}" size=51 readonly>
							
							<label for="cwk_title">Assessment title:</label>
							<input type="text" name="cwk_title" id="cwk_title" value="{{cwk.title}}" size=51 >
							
							<label for="cwk_duedate">Due date:</label>
							<input type="text" name="cwk_duedate" id="cwk_duedate" value="{{cwk.dueDate}}" size=51 >
							
							<label for="cwk_speclink">Specifications link:</label>
							<input type="text" name="cwk_speclink" id="cwk_speclink" value="{{cwk.specLink}}" size=51 >
							
							<label for="cwk_handin">Handin:</label>
							<input type="text" name="cwk_handin" id="cwk_handin" value="{{cwk.handin}}" size=51 >
							
							<label for="cwk_module">Module name:</label>
							<input type="text" name="cwk_module" id="cwk_module" value="{{cwk.module.key().name()}}" size=51 readonly>
							
							<label for="cwk_modulecode">Module code:</label>
							<input type="text" name="cwk_modulecode" id="cwk_modulecode" value="{{cwk.module.key()}}" size=51 >

							
							<p>
							<input type="submit" name="apply_button" id="apply_button" value="Apply changes" >
							<input type="submit" name="remove_module_button" id="remove_module_button" value="Remove assessment permanently" >

						</form>


					</section>
				</section>

					{% endfor %}
					
					
			</div>
			<div id="admin-right-column">
				{% for cwk in secondhalf %}			
				<section class="admin-container">
					<p class="admin-handler"  id="{{cwk.key()}}">{{ cwk.title }}</p>
					<section class="admin-handlercontent" id="cont{{cwk.key()}}">
						<form name="edit_assessment" action="/admin-assessment" method="post">
							<label for="cwk_key">Datastore Entity Key:</label>
							<input type="text" name="cwk_key" id="cwk_key" value="{{cwk.key()}}" size=51 readonly>
							
							<label for="cwk_title">Assessment title:</label>
							<input type="text" name="cwk_title" id="cwk_title" value="{{cwk.title}}" size=51 >
							
							<label for="cwk_duedate">Due date:</label>
							<input type="text" name="cwk_duedate" id="cwk_duedate" value="{{cwk.dueDate}}"  size=51 >
							
							<label for="cwk_speclink">Specifications link:</label>
							<input type="text" name="cwk_speclink" id="cwk_speclink" value="{{cwk.specLink}}" size=51 >
							
							<label for="cwk_handin">Handin:</label>
							<input type="text" name="cwk_handin" id="cwk_handin" value="{{cwk.handin}}" size=51 >
							
							<label for="cwk_module">Module name:</label>
							<input type="text" name="cwk_module" id="cwk_module" value="{{cwk.module.key().name()}}" size=51 readonly>
							
							<label for="cwk_modulecode">Module code:</label>
							<input type="text" name="cwk_modulecode" id="cwk_modulecode" value="{{cwk.module.key()}}" size=51 >

							
							<p>
							<input type="submit" name="apply_button" id="apply_button" value="Apply changes" >
							<input type="submit" name="remove_module_button" id="remove_module_button" value="Remove assessment permanently" >

						</form>


					</section>
				</section>

					{% endfor %}
					<section class="admin-container-new">
							<p class="admin-handler"  id="_new_module">Add new assessment</p>
							<img id="plus" src="/resources/img/plus.png">
							<section class="admin-handlercontent" id="cont_new_module">
								<form name="edit_assessment" action="/admin-assessment" method="post">

									<label for="cwk_title">Assessment title:</label>
									<input type="text" name="cwk_title" id="cwk_title"  size=51 >
									
									<label for="cwk_duedate">Due date:</label>
									<input type="text" name="cwk_duedate" id="cwk_duedate" value="e.g: Nov 1 2005  1:33PM"  size=51 >
									
									<label for="cwk_speclink">Specifications link:</label>
									<input type="text" name="cwk_speclink" id="cwk_speclink"  size=51 >
									
									<label for="cwk_handin">Handin:</label>
									<input type="text" name="cwk_handin" id="cwk_handin" size=51 >
									
									
									
									<label for="cwk_modulecode">Module datastore key:</label>
									<input type="text" name="cwk_modulecode" id="cwk_modulecode"  size=51 >
									<p>
										<input type="submit" name="add_button" id="apply_button" value="Add to datastore" >

									</form>
								</section>
					
					
			</div>

				
						
						</div>
					</section>
				</section>
			</body>
			</html>
