 <html>
   <head>
     <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

     <link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
   </head>
   <body>
   
   <section id="content" class="content"> 
   	{% include "/templates/mbar.html" %}
	{% include "/templates/sidebar.html"%}

	<section id="pagecontent" class="cleared">
	
		<form name="email" action="/something" method='POST'>
			<p>Subject</p>
			<textarea name="subject" cols="30" rows="1"></textarea>
			<br>
			<p>Message</p>
			<textarea name="message" cols="60" rows="5"></textarea>
			<br>
			<input type="submit" value="Send">
		</form>
	</section>
	<section class="cleared">	</section>
	</section>

   </body>
</html>
	                   
