<html>
<body>
<h1>Add Lecturer</h1>
            <form method="POST" action="/addlecturer">
                <input type="text" placeholder="Full Name" name="full_name">
                <br/>
                <input type="text" placeholder="Lecturer code" name="code" id="code">
                <br/>
                <input type="url" placeholder="Lecturer homepage" name="lurl" id="code">
                <br/>
                <input type="submit" value="Add Lecturer">
            </form>
            <br />
            <h1>Add Module</h1>
            <form method="GET" action="/addmodule">
                <input type="text" name="code" placeholder="Module code">
                <br/>
                <input type="text" name="title" placeholder="Module title">
                
                <br/>

                <input type="url" name="murl" placeholder="Module homepage">
                <br/>
                <input type="number" name="my" placeholder="Module year">
                <br/>
                <input type="number" name="ms" placeholder="Module semester">
                <br/>
                <input type="text" name="mc" placeholder="Module course">
                <br/>
                <input type="submit" value="Add Module">
            </form>
            <br />
            <h1>Add Rating</h1>
            <form method="GET" action="/addrating">
                <input type="text" name="lcode" placeholder="Lecturer code">
                <br/>
                <input type="text" name="mcode" placeholder="Module code">
                <br/>
                <input type="submit" value="Add Module">
            </form>
            
            <br />
            <h1>Add YearCourseSemester</h1>
            <form method="POST" action="/addycs">
            <input placeholder="Year" type="number" name="year"><br/>
            <input type="number" placeholder="Semester" name="semester"><br/>
            <input type="text" placeholder="course" name="course"><br/>
            <input type="submit" value="Add YCS"><br/>
            </form>
            
            <br />
            <h1>Explore Semesters</h1>
            <form method="GET" action="/semexplorer">
            <input placeholder="Year" type="number" name="year"><br/>
            <input type="number" placeholder="Semester" name="semester"><br/>
            <input type="text" placeholder="course" name="course"><br/>
            <input type="submit" value="Explore YCS"><br/>
            </form>
            
            <br />
            <h1>Lecturer explorer</h1>
            <form method="GET" action="/lecexplorer">
            <input type="text" name="lcode">
            <input type="submit" value="Explore lecturer">
            </form>
            
            <br />
            <h1>Module Explorer</h1>
            <form method="GET" action="/modexplorer">
            <input type="text" name="mcode" placeholder="Module code">
            <input type="submit" value="Explore module">
            </form>
            
</body>
</html>