<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/forum_categories.css" />
	<script src="js/jq-1.8.3.js"></script>
	<script src="js/jqui-1.9.2.js"></script>

	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>

	<style type="text/css">

		a.newth{
			position : relative ;
			float : right ;
		}

		section.handlercontent{
			/*this is funny business as well*/
			margin : 30px ;
			margin-top : 0px;
			margin-bottom : 0px;
			display: block ; /* this will hide the content*/
		}

	</style>           	    
</head>
<body>
	<section id="content" class="content"> 
		<section id="header">
					<p id="wlcmmsg">Logged in as <a href='/profile'>{{current_user.full_name}}</a></p> 
				{% include "/templates/mbar.html" %}
				{%if current_user.user_type==1%}
				{% include "/templates/admin-sidebar.html"%}
				{%else%}
				{% include "/templates/sidebar.html"%}
				{%endif%}
		<section id="pagecontent" class="cleared">
			<section class="category">			
				<section class="container">
					<p class="handler">{{  category.name }}</p>	
					<a href="/newthread?catid={{ category.key().id()}}" class="newth">Create new...</a>
				</section>
				<section class="handlercontent">
					{% for th in threads %}
					<article class="thread">
						<a href="/showthread?tid={{ th.key().id() }}" class="thtitle">
							<b>{{th.subject}}</b>
						</a>
						<p class="details">Posted by {{th.poster.key().name()}} on {{th.timestamp.date()}}</p>							
						<p class="thbody">{{th.body[0:50]}}...</p>
						{%if current_user.user_type==1%}
						<p class="rating"><a href="/removeThread?tid={{th.key()}}"><img style="width:20px;"src="/resources/img/cross.png"></a></p>
						{%endif%}
						<p class="rating">Replies : {{th.answers}}</p>
					</article>
					{% endfor %}
				</section>
			</section>
		</section>
	</body>
</html>