<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/forum_categories.css" />
	<script src="js/jq-1.8.3.js"></script>
	<script src="js/jqui-1.9.2.js"></script>
	<script type="text/javascript" src="js/forum_categories.js"></script>

	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(document).delegate('span.btn-toggle-subs','click',function()
		{
			var e = $(this);
			serializedData = 'mcode='+e.attr('mid');
			$.ajax(
			{
				url: "/subscriptions",
				type: "POST",
				data: serializedData,
				contentType: 'application/x-www-form-urlencoded',
				dataType: 'html',
				success: function(data)
				{
					e.html(data);
				},
				error: function(xmlhttp, textStatus, errorThrown)
				{
					console.log('There was an error while toggling subscriptions.');
				},
				complete: function()
				{
					console.log('Toggling subscription completed');
				}
			});
		});
	});
	</script>

</head>
<body>
	
	<section id="content" class="content"> 
		

		{% include "/templates/mbar.html" %}
		{% include "/templates/sidebar.html"%}

		<section id="pagecontent" class="cleared">
			
			<section id="module_info">
				<h3 class="title">{{module.key().name() + ' - ' + module.title}}</h3>

				<section id="toggle-button">
					<a href="#" class="btn">
						<span class="btn-text">Subscription</span> 
						<span class="btn-toggle-subs" mid="{{module.key().name()}}">{{toggle}}</span>
						<span class="btn-icon-right"></span>
					</a>
				</section>

				<section id="module_stats">
					<!-- TODO: more complete description when hover over-->
					<div class="value">{{subscribed}}</div>
					<div class="descr">Students Registered</div>
					{% if module.count_marks %}
					<div class="value">{{"{0:.0f}".format(module.sum_marks/module.count_marks | int)}}</div>
					<div class="descr">Average Mark</div>
					{% endif %}
					{% if module.count_difficulty %}
					<div class="value">{{"{0:.1f}".format(module.sum_difficulty/module.count_difficulty)}}/5</div>
					<div class="descr">Overall Difficulity</div>
					{% endif %}
					{% if module.count_interest %}
					<div class="value">{{"{0:.1f}".format(module.sum_interest/module.count_interest)}}/5</div>
					<div class="descr">Interest Score</div>
					{% endif %}
				</section>
				<section class="ratings">
					{% for assessment in assessments: %}
					<dl>
						<dt><a href={{assessment.specLink}}>{{assessment.title}}</a></dt>
						{% if assessment.count_marks: %}
						<dd>Average Mark: {{"{0:.0f}".format(assessment.sum_marks/assessment.count_marks)}}</dd>
						{% endif %}
						{% if assessment.count_difficulty: %}
						<dd>Difficulty: {{"{0:.1f}".format(assessment.sum_difficulty/assessment.count_difficulty)}} /5</dd>
						{% endif %}
						{% if assessment.count_interest: %}
						<dd>Interesting: {{"{0:.1f}".format(assessment.sum_interest/assessment.count_interest)}} /5</dd>
						{% endif %}
					</dl>
					{% endfor %}
				</section>
				<section class="ratings">
					{% for rating in ratings %}
					<dl>
						<dt><a href={{rating.lecturer.home_page}}>{{rating.lecturer.full_name}}</a></dt>
						{% if rating.teach_count : %}
						<dd>Teaching: {{"{0:.1f}".format(rating.teach_sum/rating.teach_count)}} /5</dd>
						{% endif %}
						{% if rating.overall_count : %}
						<dd>Overall: {{"{0:.1f}".format(rating.overall_sum/rating.overall_count)}} /5</dd>
						{% endif %}
					</dl>
					{% endfor %}
				</section>
			</section>

			<section id="categories">
				<section class="category">			
					{% for c in complete %}				
					<section class="container">
						<p class="handler"  id="{{c[0].key().id()}}">{{  c[0].name }}</p>
						<a href="/threads?cid={{c[0].key().id()}}" class="more">Show more...</a>
					</section>
					<section class="handlercontent" id="cont{{c[0].key().id()}}">
						{% for th in c[1] %}
						<article class="thread">
							<a href="/showthread?tid={{ th.key().id() }}" class="thtitle">
								<b>{{th.subject}}</b>
							</a>
							<p class="details">Posted by {{th.poster.key().name()}} on {{th.timestamp.date()}}</p>							
							<p class="thbody">{{th.body[0:50]}}...</p>
							<p class="rating">Replies : {{th.answers}}</p>
						</article>
						{% endfor %}
					</section>
					{% endfor %}
				</section>
			</section>
		</section>
	</section>
</body>
</html>
