<html>
     <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	
<style type="text/css">
	
p.box{
text-align:center;
font-size:12pt;
}
h1{
color:#1E90FF;
text-align:left;
font-size:16pt;
margin : 10px;
}
div.subs{
width:300px;
height:100px;
padding:10px;
border:5px solid black;
margin:0px;
border-style:inset;
}

div.break{
width:300px;
height:100px;
padding:0px;
border solid black;
}
div.img.pos{
position:absolute;
top:10px;
right:30px;
}

</style>           
    
  </head>
 <body>
  
 <section id="content" class="content"> 
   

	<!-- This includes the sidebar-->
	{% include "/templates/sidebar.html"%}

	<section id="pagecontent" class="cleared">
		<h1>Your subscriptions </h1>
		{% for sub in subscriptions%}
				<div class="subs">
				<img class="pos"  src="/stylesheets/resources/unsubscribe.png" alt="Smiley face" height="20" width="20"> 
				<p class="box"><a href="/categories?mid={{sub.module.key().name() }}">{{ sub.module.key().name().upper() }}</a></p>
				<p class="box"><a href="/categories?mid={{sub.module.key().name() }}">{{ sub.module.title }}</a></p>
				</div>
			</br>
		
		{% endfor %}
	</section>
	
	<section class="cleared">	</section>
	
</body>
</html>
