<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/forum_subs.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />

	<script src="js/jq-1.8.3.js"></script>	
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
	<script type="text/javascript" src="js/forum_subs.js"></script>
</head>
<body>

	<section id="content" class="content"> 
		<section id="header">
			<p id="wlcmmsg">Logged in as <a href='/profile'>{{current_user.full_name}}</a></p> 
		{% include "/templates/mbar.html" %}
		{%if current_user.user_type==1%}
		{% include "/templates/admin-sidebar.html"%}
		{%else%}
		{% include "/templates/sidebar.html"%}
		{%endif%}

		<section id="pagecontent" class="cleared">
			<h1 class="pagetitle" >Your subscriptions </h1>
			<div id="allsubs">
				{% for sub in mod_info%}
				<div id="{{sub.sub_code}}" class="subs">
					<a href="javascript:update_subs('{{sub.sub_key}}','{{sub.sub_code}}',false)"><img class="pos" src="/resources/img/unsub.png" alt="Delete Sub" height="20" width="20"></a> 
					<b><p class="box"><a href="/categories?mid={{sub.sub_code }}">{{ sub.sub_code.upper() }}</a></p></b>
					<p class="box"><a href="/categories?mid={{sub.sub_code }}">{{ sub.sub_name }}</a></p>
					<b><p class="box">Lecturers</p></b>
					{% for lect in sub.mod_lecturers %}
					<u><font color="#02527d"><a href={{lect.home_page}}>{{lect.full_name}}</a></font></u>
					{% endfor %}
				<!--{% if sub.mod_assessments %}
				 It doesn't actually check if the date has passed yet. Still to implement this functionality
				<div class="assessment">This module has assignments still to be submitted!</div>
				{% endif %}-->
				
			</div>
			
			{% endfor %}
			

		</div>
			<button id="rss_button" class="rss_button">
			  <img src="../stylesheets/resources/feed-icon-14x14.png" alt="rss icon"/> RSS
			</button>
			<div id="rss" >
			  <input id="url" type="text" name="sometext" size="20" value="http://localhost:9999/news.rss">
			  <label id="instructions" class="copy">copy and paste the feed URL (the address above)
			    into your favourite reader [<a href="news.rss">feed</a>]</label>
			</div>
	</section>
		
</section>
	
</body>
</html>
