<html>
<head>
	<script src="js/jq-1.8.3.js"></script>
	<script src="js/functions.js"></script>
	
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/forum_thread.css" />

	<script type="text/javascript">
	$(document).ready(function(){

		$('p.ans').click(function(){
			var e = $(this);
			var pid = e.attr('pid');
			var dt = 'pid='+pid;
			var trd = $('article#thread');
			var tid = trd.attr('tid');
			dt +='&tid='+tid;

			$.ajax(
			{
				url:'/solution' ,
				type:'POST',
				data : dt ,
				contentType : 'application/x-www-form-urlencoded',
				dataType : 'html',
				success:function(data){					
					if(e.parent().parent().parent().attr('class') === 'ans'){
						e.parent().parent().parent().attr('class','post');
					}else{
						$('section.ans').attr('class','post'); /*reset all other answers*/
						var par_section = e.parent().parent().parent();
						par_section.attr('class','ans');
					}
				},
				error: function(xmlhttp, textStatus, errorThrown)
				{
					console.log('Error in marking answer');
				},
				complete: function()
				{
					console.log('request should have completed');
				}
			});
		});

	});
	</script>

</head>
<body>

	<section id="content" class="content"> 

		<!-- This includes the sidebar-->
		{% include "/templates/sidebar.html"%}

		<section id="pagecontent" class="cleared">
			<article id='thread' tid={{thread.key().id()}}>
				<h1>{{ thread.subject }}</h1>
				<p>{{ thread.body }}</p>
			</article>
			<section id="reply">
				<form method="POST" action="/replythread" id="replyform">
					<input type="hidden" name="tid" value="{{thread.key().id()}}">
					<textarea name="bd" cols="70" rows="8"></textarea>
					<input type="submit" value="Reply!">
				</form>
			</section>

			<section id='responses'>
				{{posts}}		
			</section>
		</section>
	</section>
</body>
</html>