<section id="header">
			<p id="wlcmmsg">Logged in as <a href='/profile'>{{current_user.full_name}}</a></p> 
			<a href="/logout" id="lgout">Logout</a>
		</section>
<a href="\main"> <img id = "banner_image" src="/stylesheets/resources/banner.jpg" alt="banner_image"></a>

{% if subscriptions|length > 0 %}

<section id="mbar-wrapper">
 <img src="/stylesheets/resources/larrow.png" dir="-1" class="dir" alt="larrow" >
			<nav id='modulenav'>
				<ul id='modulebar'>
					{% for sub in subscriptions %}
					<li><a href="/categories?mid={{sub.module.key().name()}}">{{sub.module.title}}</a></li>
					{% endfor %}
				</ul>
			</nav>
<img src="/stylesheets/resources/rarrow.png" dir="+1" class="dir" alt="rarrow" >	   
</section>
{% endif %}
