<html>
<head>
	<script type="text/javascript" src="js/jq-1.8.3.js"></script>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/modules.css" /> <!-- page-specific styles -->
	<script type="text/javascript" src="/js/modules.js"></script> <!-- js for this page -->

	<script type="text/javascript" src="js/jq-1.8.3.js"></script>
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
</head>
<body>
	<section id="content" class="content"> 
		
				{% include "/templates/mbar.html" %}
				{%if current_user.user_type==1%}
				{% include "/templates/admin-sidebar.html"%}
				{%else%}
				{% include "/templates/sidebar.html"%}
				{%endif%}

		<section id="pagecontent" class="cleared">
			<h1 class="pagetitle">All the modules for your course!</h1><p>To subscribe to a module simply click on its name and toggle your subscription on or off!</p>

			<section class="container">
				<h3 class="trigger" year="1"><a > Year 1 </a></h3>
				<div id="year1" class="year">
					<p> Semester 1 </p>
					{% if y1s1 %}
					<ul class="mods">
						{% for module in y1s1 %}
						<li> <b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a> [<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]</li>
						{% endfor %}
					</ul>
					{% endif %}

					<p> Semester 2 </p>
					{% if y1s2 %}
					<ul class="mods">
						{% for module in y1s2 %}
						<li>
							<b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a> [<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]
						</li>
						{% endfor %}
					</ul>
					{% endif %}

				</div>
			</section>
			<section class="container">

				<h3 class="trigger" year="2"> <a >Year 2 </a></h3>
				<div  class="year" id="year2" >
					<p> Semester 1 </p>
					{% if y2s1 %}
					<ul class="mods">
						{% for module in y2s1 %}
						<li>
							<b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a> [<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]</li>
						{% endfor %}
					</ul>
					{% endif %}

					<p> Semester 2 </p>
					{% if y2s2 %}
					<ul class="mods">
						{% for module in y2s2 %}
						<li>
							<b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a> [<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</section>
			<section class="container">

				<h3 class="trigger" year="3"> <a >Year 3 </a></h3>
				<div  class="year" id="year3" >
					<p> Semester 1 </p>
					{% if y3s1 %}
					<ul class="mods">
						{% for module in y3s1 %}
						<li>
							<b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a> [<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]</li>
						{% endfor %}
					</ul>
					{% endif %}

					<p> Semester 2 </p>
					{% if y3s2 %}
					<ul class="mods">
						{% for module in y3s2 %}
						<li>
							<b>{{module.key().name()}}</b>: <a href="categories?mid={{module.key().name()}}">{{module.title}}</a>[<a href="{{module.ecs_page}}" class="modulelink">ECS page</a>]</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</section>
		</section>
</body>
</html>
