<html>
<head>
	
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/forum_subs.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/profile.css" />
	     
<link type="text/css" rel="stylesheet" href="/stylesheets/modulebar.css" />
	<script src="js/jq-1.8.3.js"></script>	
	<script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/modulebar_functions.js"></script>
	<script type="text/javascript" src="js/forum_subs.js"></script>
	<script type="text/javascript" src="js/edit_mode.js"></script>
</head>
<body>
 
	<div id="content" width= "500">
				{% include "/templates/mbar.html" %}
				{%if current_user.user_type==1%}
				{% include "/templates/admin-sidebar.html"%}
				{%else%}
				{% include "/templates/sidebar.html"%}
				{%endif%}

		<section id="pagecontent" class="cleared">
			<div id="edit_profile_header">
				<form action="/profile"
					enctype="multipart/form-data" method="post">
					
					<h2>New Name</h2>
					<input type="text" name="fullname" value="{{user.full_name}}" size="30">
										
					<h2>Upload new avatar picture</h2><br>
					<input type="file" name="img" size="40">
					
					<div>
					<input type="submit" value="Save">
					</div>
				</form>
			
			</div>
			<div id="profile_header">
				<a href="javascript:editMode()"><button class="edit_button" type=submit>Edit</button></a>
				<img src="/profileimage?usr={{user.key()}}" width="180" height="180">
				<div id="col1">
					<p id="name">{{user.full_name}}</p>
					<p class="course">{{user.course}} {{user.year}}</p>
					<br>
					<br>
					<h2 class="figures">{{user.karma}}</h2><h2 class="desc">Karma Points</h2>
				</div>
				<div id="col2">
					<br>
					<h2 class="figures">90</h2><h2 class="desc">Created Topics</h2>
					<br>
					<br>
					<br>
					<br>
					<h2 class="figures">11101</h2><h2 class="desc">Comments Posted</h2> 
				</div>	
					
			</div>
			<br>
			<h1><p><b>Modules you are subscribed to</b></p></h1>
			<div id="allsubs">
			{% for sub in mod_info%}
				<div id="{{sub.sub_code}}" class="subs">
					<a href="javascript:update_subs('{{sub.sub_key}}','{{sub.sub_code}}',true)"><img class="pos" src="/resources/img/unsub.png" alt="Delete Sub" height="20" width="20"></a> 
					<b><p class="box"><a href="/categories?mid={{sub.sub_code }}">{{ sub.sub_code.upper() }}</a></p></b>
					<p class="box"><a href="/categories?mid={{sub.sub_code }}">{{ sub.sub_name }}</a></p>
					<b><p class="box">Lecturers</p></b>
					{% for lect in sub.mod_lecturers %}
					<u><font color="#02527d"><a href={{lect.home_page}}>{{lect.full_name}}</a></font></u>
					{% endfor %}
				
				</div>
			{% endfor %}
			</div>
			<div class="subs" width = "300">
				
				<b><p class="box">Add a Module</p></b>
				<a href="newsubscription">
					<img id="plus"  src="/stylesheets/resources/plus.png" alt="Add image" height="100" width="100">
				</a>
			</div>
			<a href="/news.rss">RSS</a>
		</section> 	
	</div>
		
</body>
</html>
