<html>
   <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% include "/templates/test.html" %}
    Welcome to the site, {{ user.username }} <p>
    Your modules: <br>
    <ul>
    {% for q in query %}
    <li> <a href="{{ q.module.ecs_page }}">{{ q.module.code }} : {{q.module.title}}</a></li>
    {% endfor %}
    </ul>
    </p>

    <ul>

    <li> <a href="/main">Home</a></li>
    <li> <a href="/forum">Forum</a></li>
    <li> <a href="/about">About</a></li>
    <li> <a href="/notes">Notes</a></li>
    <li> <a href="https://secure.ecs.soton.ac.uk/">Intranet</a></li>
    <li> <a href="/contact">Contact</a></li>
    </ul>
  </body>
</html>
