<html>
   <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/signin.css"/>
    <script src="js/jq-1.8.3.js"></script>	
    <script type="text/javascript" src="js/jqscrollTo-1.4.3.1.js"></script>
    <script type="text/javascript" src="js/signin.js"></script>
  </head>
  <body>
  <div id="login">
  <a href="#">Sign In</a>
      <div>
    <form name="login" class="login" action="/" method="post">
      <p> Username: <input type="text" size="17" name="user"> </p>
      <p> Password: <input type="password" size="17" name="password"></p>
      <input type="submit" id="submit" value="Submit" >
 </form>
 </div>
 </div>
 <br></br>
 <br></br>
 <br></br>
 <br></br>
  <section id="content" class="content">
  <div id="pic" class="forum-pic">
  <img src="/resources/img/doorlead.jpg" width="500" height="500">
  <br>
  forum pic here or any nice pic to fill up the page^^
  </div>
  <div id="register" class="register">
  <form id="register" name="register" action="javascript:register_info()" method="post">
  <h2 style="color:#88ccff">Sign Up for FoRules</h2>
  <br>
  <p><input type="email" name="email" class="info" value="University Email" onfocus="fade()" onblur="rewrite()" id="email"></p>
  <br>
  <p><input type="text" name="ps" class="info" value="Password" onfocus="fade()" onblur="rewrite()" id="ps"></p>
  <br>
  <p><input type="text" name="retype" class="info" value="Retype Password" onfocus="fade()" onblur="rewrite()" id="retype"></p>
  <br>
  <p><input type="text" name="fn" class="info" value="Full Name" onfocus="fade()" onblur="rewrite()" id="fn"><font color="red">*</font></p>
  <br>
  <p><input type="text" name="avatar" class="info" value="Avatar" onfocus="fade()" onblur="rewrite()" id="avatar"><font color="red">*</font></p>
  <br>
  <p><input type="text" name="course" class="info" value="Course" onfocus="fade()" onblur="rewrite()" id="course"><font color="red">*</font></p>
  <br>
  <p><input type="number" name="year" class="info" value="Year" onfocus="fade()" onblur="rewrite()" id="year"><font color="red">*</font></p>
  <br>
  <input type="submit" name="reg" id="reg" value="Register Now">
  <br>
  <br>
  <font color="red">*</font> <font size="1px">are optional fields. You can also edit them at the profile page once you have logged in.</font>

  </form>
  </div>
  
  </section>
  </body>

</html>
