<html>
   <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
 <section id="content" class="content"> 
    <!--{% include "/templates/test.html" %} -->
    <section id="header">
		<p>Welcome to the site, <a href='/profile'>{{current_user.full_name}}</a></p> <br/>
		<p id="modules_tag"> Your modules: </p>
		<img src="/stylesheets/resources/larrow.png" alt="larrow" >	    
		<ul id="modulebar" class="modulebar">
	    	{% for sub in subscriptions %}
			<li>
			<a href="{{sub.module.ecs_page}}">{{sub.module.title}}</a> <span class="separator"> | </span>
			</li>
		{% endfor %}
		</ul>
		<img src="/stylesheets/resources/rarrow.png" alt="rarrow" >
	</section>

	<!-- This includes the sidebar-->
	{% include "/templates/sidebar.html"%}

<section id="pagecontent" class="cleared">

<!-- Add whatever content you want here-->

</section>
<section class="cleared">	</section>
</section>
  </body>
</html>
