/*CSS for handling the posts */
section.post , section.ans{
	border : 1px dotted #88ccff;
	border-radius : 5px;
	padding :  3%;
	padding-right : 0% ;
	margin-bottom: 1%;
}

section.post{
	background: white;
}

section.ans{
	background : #88ff88;
}

article.ans{
	background : #88ff88;
}

#responses{
	position :relative;
	float : left ;
	width : 100%;
}

/*end posts css*/

/*CSS for styling the thread*/
section.thread{
	padding : 10px ;
	margin : 5px ;
	overflow : auto;

	border : 1px solid #88ff88;
	overflow : auto ;
	padding : 1%;
	border-radius : 10px ;
}

h1{
	font-size: 18pt;
}

section.thread .userDetails,.threaddetails , section.signature {
	position : relative;
	display: inline;
	float :left ;
	margin : 0px ;
	padding : 4px ;
}

section.threaddetails{
	width : 75%;
}

section.userDetails{
	width : 20%;
	text-align: center;
	color: #005566;
}

section.signature {
	border-top: 1px dotted gray ;
	overflow : auto ;
	width : 98%;
}

article.signature{
	text-align: center;
	font-style: italic;
	color : gray;
}

/*End thread CSS*/

/*CSS for the reply form */
#reply{
	position: relative ;
	float : left ;
	display : block;
	margin-top: 10px ;
	margin-bottom: 10px ;
}

#replyform{
	padding :  2%;
	margin : 1%;
}

#replyform *{
	display : block ;
}

/*end reply form*/

/*CSS for the user controls*/
#controls{
	position: relative;	
}

span.controls *{
	display : inline;
	color : #005566;
	font-size : 9pt;
}

span.controls p:hover{
	cursor : pointer ;
	text-decoration : underline;
}

span.controls p.score {
	text-decoration : none ;
	cursor : default ;
	font-size : 13pt ;
}

form.psreplyform{
	display : none ;
}

form.psreplyform *{
	display : block 
}
/*end css for controls */

/*CSS for quoting*/
blockquote{
	background : #88bbcc ;
	margin : 5px;
	border : 3px solid #aaaaff ;
	border-radius : 10px ;
	padding : 5px;
}

blockquote p.details{
	color : white ;
}

blockquote p.quotext{
	color : white ;
	font-style: italic;
}	
/*end quoting css*/