/*CSS for styling the accordion*/
section.container{ padding : 10px ; border : 1px solid #88ccff ; border-radius : 5px ; }

section.container *{ display : inline ; }/*make all elements appear on the same line*/ 

section.container:hover{ background:#eeffff;}

p.handler{ cursor : pointer ; color : #02527d ;	font-size : 15pt ;}

section.container .more{ position : relative ;	float : right ;}

section.handlercontent{	/*this is funny business as well*/
			margin : 30px ;
			margin-top : 0px;
			margin-bottom : 0px;
			display: none ; /* this will hide the content*/}

article.thread{	border : 1px solid #829B9B ;
		padding : 10px;
		background : #ccdee8;
		overflow: auto ;}

a{ text-decoration : underline ; color : #02527d ;}

a:hover { color : #003366 ;}

article.thread:hover{ background : #B8DBFF;}

a.thtitle,p.thbody,p.details,p.rating{	padding : 1%;}

a.thtitle, p.thbody{ position : relative;}

/*End accordion CSS*/

p.details, p.rating{ position: relative ; float : right; }

section.category { margin-top : 20px ;}

#module_info h3 {padding-bottom : 20px;}

#module_stats  {clear:left;}

#module_stats div.value{ font-size : 3em; font-weight : bold;}

#module_stats div.descr{ width : 50px;
			 margin-right : 40px;
			 padding-right : 10px;
			 display : inline-block;}

#module_stats div{display:inline;}

section.ratings dl{ display:inline-block;
		    padding-right : 20px;
		    text-align: right;}

section.ratings dt{font-size:1.5em;}

section.ratings dd{ font-size:1em;}

h3.title{ width : 60% ;	margin-bottom : 10px; float: left;}

/*****/
/*toggle subscriptions button CSS*/
#toggle-button{	position:relative;
   		display:inline;
    		float:left;
		top : 0px;
		width : 38%;
		margin-left : 5px;
		padding-top : none ;
		margin -top : none ;
		clear:right;
}

.btn{
    position:relative;
    display:inline;
    float:left;

    clear:both;
    text-decoration: none;
    background: #007275;
    padding-left:20px;
    padding-right : 20px ;
    height:30px;
    border:1px solid #5d81ab;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    overflow:hidden;
    border-radius:8px;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.btn-text{
    padding-top : 4px;
    display:block;
    font-size:14pt;
    color : white;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.btn-toggle-subs{
    position:absolute;
    height:100%;
    top:0px;
    right:10px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    text-align:left;
    padding-top : 4px;
    font-size:14pt;
    text-indent:10px;
    overflow:hidden;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:10px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.btn:hover{    padding-right:150px;    text-decoration: none; }
.btn:hover .btn-toggle-subs{  width:130px;}
