/*clear everything up*/

span,section,nav , ul,ol , li ,img, body, p , a , form, textarea, input, label, h1,h2,h3{
	margin : 0 px;
	padding:0px;	
}

body{
position : relative ;
width : 100% ;

padding : 10px ;
background-image: url("resources/bg1.jpg");
height : auto;
}

a:active ,a:visited , a:link ,a:hover{
	text-decoration: none ;	
	color : white ;
	text-align: left;
	font-size: 18px;
}

#content {
  font-family:Georgia, serif;
  margin : 10px ;
  background-color: white;
  max-width: 1000px ;
  border : 1px solid white ;
  border-radius : 20px ;
  position : relative ;
  left : 50% ;  
  margin-left : -500px ;
  height : 98%;
}


#header p , #header img{
	display : inline ;	
	}

#test{
	 	width : 50px;
	 	}

#header ul {
	display: inline;
	list-style: none;

 	overflow: hidden;
	}

#header ul  li{
	display: inline;	
	}

#modulebar li a {
	color: white;	
	font-size : 18px;
	background-color: green;
	line-height: 32px ;
	padding :5px;
	margin : 3px; 
	}		

#sidebar{
	width : 150px;	
	background-color: 	#DDD;
	display : block;
	border-radius : 10px ;
	padding : 1px ;
	margin : 3px;
	position : relative;
	float : left;
}

#sidebar .first {
	border-top-left-radius : 10px ;
	border-top-right-radius : 10px ;	
	}
	
	#sidebar .last {
	border-bottom-left-radius : 10px ;
	border-bottom-right-radius : 10px ;	
	}

#sidebar li{
	line-height: 35px;
	display :block ;
	margin-bottom : 1px ;	
	width : 150px ;
	background-color:#007275 ;
	opacity : 0.8 ;	
	}
	
	#sidebar li span{
		padding-left: 5px ;	
		line-height: 40px ;	
		}
	
#sidebar li:hover{
		background-color : #005355;
		opacity : 1;
	}
	

	
