@font-face {
	font-family: 'Segan-Light';
	font-style: normal;
	src: local('fonts/Segan-Light-ttf');
}

/*clear everything up*/
span,section,nav , ul,ol , li ,img, body, p , a , form, textarea, input, label, h1,h2,h3,article{
	margin : 0px;
	padding:0px;	
}

/*making links not underlined*/
a:visited, a:active, a {
	text-decoration: none;
	color : #007275;
}

a:hover{
	text-decoration: underline;
}

body{
	background-image: url("resources/bg1.jpg");
	font-family : 'Segan-Light',sans-serif ;
}

h1.pagetitle{
	color : #02527d;
	font-size :18pt;
	font-weight: lighter;
}

/*-----*/

/*CSS for the sidebar*/
#sidebar{
	width : 150px;	
	background-color: 	#DDD;
	display : block;
	border-radius : 10px ;
	padding : 1px ;
	margin : 3px;
	position : relative;
	float : left;
}

#sidebar .first {
	border-top-left-radius : 10px ;
	border-top-right-radius : 10px ;	
}

#sidebar .last {
	border-bottom-left-radius : 10px ;
	border-bottom-right-radius : 10px ;	
}

#sidebar li{
	line-height: 35px;
	display :block ;
	margin-bottom : 1px ;	
	width : 150px ;
	background-color:#007275 ;
	opacity : 0.8 ;	
}

#sidebar li span{
	padding-left: 5px ;	
	line-height: 40px ;	
}

#sidebar li:hover{
	background-color : #005355;
	opacity : 1;
}

#sidebar a:active ,#sidebar a:visited ,#sidebar  a:link ,#sidebar a:hover{
	text-decoration: none ;	
	color : white ;
	text-align: left;
	font-size: 15pt;
}
/*---*/
#banner_image{
	padding : 10px;
	margin : 0px;
	height: 40%;
	width:105%;
	margin-left : -30px ;
	

}
/*CSS for styiling the container of the content of each page*/
#pagecontent{
	position : relative;
	float:left;	
	display : block ;
	margin : 10px;
	padding : 10px;
	width : 80% ;
}
/*----*/

/*Just some general styling for the content section*/
#content {
	
	position : relative ; 
	width : 80% ;
	margin-left : 10%;
	margin-top : 12px;
	margin-bottom : 12px ;

	background-color: white;
	border : 1px solid white ;
	border-radius : 20px ;
	padding : 20px;
	overflow: hidden;
	
	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.8), 0px 0px 8px 8px rgba(188,188,188,0.8);
    -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.8), 0px 0px 8px 8px rgba(188,188,188,0.8);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8), 0px 0px 8px 8px rgba(188,188,188,0.8);

}
/**/